.footer_container{
    position: relative;
    background-color: black;
    color: #fff;
    padding: 15px;
    padding-top: 5px;
    height: 20px;
    box-shadow: 0 0 15px 1px #86868656;
    -webkit-box-shadow: 0 0 15px 1px #86868656;
}
.footer_content_left{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: 12px;
    padding-top: 10px;
    padding-left: 50px;
    float: left;
}

.footer_content_center{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.footer_content_right{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: 12px;
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
    float: right;
}

.footer_content_right i{
    font-size: 20px;
    padding-left: 20px;
}

.footer_content_right a{
    text-decoration: none;
    color: #fff;
}